{% extends "base.html" %}
{% load static %}
{% block title %}Welcome{% endblock %}

{% block content %}

<main>
    <div class="container">


      <h1 class="visually-hidden">Steuernomade</h1>

      <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'website/logo4.png' %}" alt="" width="52" height="72">
        <h1 class="display-5 fw-bold text-body-emphasis">Steuernomade</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Teste jetzt in wenigen Schritten, ob ein Lifestyle als Perpetual Traveler oder eine dauerhafte Auswand ein steuerlich sinnvolles Modell für dich sein können. </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'question' %}">
              <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Mach jetzt den Test</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Blog</button>
          </div>
        </div>
      </div>
  </div>
</main>

{% endblock %}